@import "tailwindcss";
body{
  background-color:#221c17;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  cursor: pointer;
}
.recharts-bar-rectangle:hover {
  fill-opacity: 1 !important;
}
.recharts-tooltip-cursor {
  fill: transparent !important; /* oq fonni yo‘qotadi */
}
.recharts-surface {
  outline: none !important;
}

.recharts-bar-rectangle:focus {
  outline: none !important;
  stroke: none !important;
}
